version: '3.8'  # The dialect of Docker Compose we are using

services:       # A list of the "machines" we want to run
# Service 1: Your Public Website (The "Hello World" Page)
  my-web-server:                # Name of our service
    image: nginx:alpine         # The Software: Nginx (Alpine is a tiny, fast version)
    container_name: production-website
    restart: always             # If it crashes, restart it automatically
    ports:
      - "80:80"                 # Map Port 80 (VM) to Port 80 (Container)
    volumes:
      - ./website:/usr/share/nginx/html  # The Magic Link (Host Folder : Container Folder)
# Service 2: The Monitoring Dashboard (Uptime Kuma)
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: monitoring-dashboard
    restart: always
    ports:
      - "3001:3001"  # Access this on Port 3001
    volumes:
      - uptime-kuma-data:/app/data

# Define a storage volume for the dashboard so it remembers data if it restarts
volumes:
  uptime-kuma-data:
